*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: Helvetica, "Trebuchet MS", sans-serif;
    font-size: 16px;
}

#cabecalho{/*INICIO CABECALHO*/
    margin: 0px auto;
    background: url(imagens/topo-imagem-principal.png) no-repeat;
    max-width: 1177px;
    min-width: 728px;
    height: 250px;
}

#cabecalho h1 a{
    float: left;
    background: url(imagens/logo.png) no-repeat;
    width: 151px;
    height: 66px;
    margin: 15px;
}/*FIM CABECALHO*/

#menu-direita{/*INICIO MENU-DIREITA*/
    float: right;
    background: url(imagens/topo-imagem-lateral.png) no-repeat;
    max-width: 639px;
    min-width: 439px;
    height: 250px;
}

#menu-direita #reserva{
    border-top: 2px solid #b5ab56;
    border-bottom: 2px solid #b5ab56;
    padding: 5px;
}

#menu-direita #reserva #reserva-submit{
    background: #897c35;
    border: none;
    font-weight: bold;
    font-size: 0.75em;
    color: #dfd493;
    padding: 5px;
    margin-left: 30px;
    cursor: pointer;
}

#menu-direita #reserva #reserva-submit:hover{
    background-color: #b5ab56;
    color: #897c35;
}
#menu-direita #reserva #reserva-submit:active{
    background-color: #b5ab56;
}

#menu-direita #reserva p{
    font-size: 0.7em;
    font-weight: bold;
    color: #897c35;
    float: left;
    line-height: 25px;
}

#cabecalho #menu-direita ul{
    float: left;
    list-style: none;
    margin-top: 10px;
    line-height: 30px;
    font-size: 1em;
}

#cabecalho #menu-direita ul li a:hover{
    background: #fdf6be;
}

#cabecalho #menu-direita ul li a{
    text-decoration: none;
    font-weight: bold;
    padding: 5px;
    color: #897c35;
}

#cabecalho #menu-direita #navegacao img#depoimento{
    margin-top: 10px;
    width: 226px;
    height: 164px;
    float: right;
}/*FIM CABECpxALHO*/

/*INICIO NAVEGACAO*/
#cabecalho #menu-direita #navegacao{
    margin: 10px 10px 10px 85px;
}/*FIM NAVEGACAO*/

#conteudo-principal{/*INICIO CONTEUDO-PRINCIPAL*/
    margin: auto;
    max-width: 1177px;
    min-width: 728px;
    background: url(imagens/bg-area-principal.png) repeat-x, url(imagens/bg-container.png) repeat-y top center;
}/*FIM CONTEUDO-PRINCIPAL*/

#conteudo-principal #conteudo-esquerda{/*INICIO CONTEUDO-ESQUERDA*/
    float: left;
    width: 50%;
    padding: 55px 0px;
}

#conteudo-principal #conteudo-esquerda h1{
    color: #897c35;
    font-size: 1.2em;
    padding: 0px 0px 10px 0px;
}

#conteudo-principal #conteudo-esquerda #postagem{
    padding: 0px 15px;
}/*FIM CONTEUDO-ESQUERDA*/

#conteudo-principal #conteudo-direita{/*INICIO CONTEUDO-DIREITA*/
    float: right;
    width: 50%;
    padding: 55px 0px;
}

#conteudo-principal #conteudo-direita #postagem{
    padding: 5px 15px;
    border-bottom: 1px solid #fdf6be;
}
#conteudo-principal #conteudo-direita #postagem:hover{
    cursor: pointer;
    background: #fdf6be;
}

#conteudo-principal #conteudo-direita #postagem img{
    width: 30%;
    padding: 5px;
    float: left;
}

#conteudo-principal #conteudo-direita #postagem h2{
    font-weight: bold;
    font-size: 1em;
    color: #4e461a;
    padding: 5px;
}

/*FIM CONTEUDO-DIREITA*/

#rodape{
    clear: both;
    margin-top: 10px;
    text-align: center;
}